<div class="jumbo-container">
  <div class="row mb-5">
      <div class="col-md-12">
          <div class="card card-image" style="background-image: url(http://stephendavyviolins.com/wp-content/uploads/2012/10/IMG_3130-2.jpg);">
              <div class="text-white text-center d-flex align-items-center rgba-stylish-strong py-5 px-4">
                  <div class="py-5 home-jumbo">
                    <h2 class="card-title pt-3 mb-5 font-bold jumbo-header">Welcome to the Instrument Marketplace</h2>
                    <p class="px-5 pb-4 jumbo-subtext">Buy or sell your musical instruments and accessories. ZERO fees.</p>
                    <%= link_to "Sell", new_listing_path, class: "btn peach-gradient" %>
                    <%= link_to "Buy", listings_path, class: "btn purple-gradient" %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>