<div class="jumbo-container">
  <div class="row mb-5">
      <div class="col-md-12">
          <div class="card card-image" style="background-image: url(http://stephendavyviolins.com/wp-content/uploads/2012/10/IMG_3130-2.jpg);">
              <div class="text-white text-center d-flex align-items-center rgba-stylish-strong py-5 px-4">
                  <div class="py-5 home-jumbo">
                    <h2 class="card-title pt-3 mb-5 font-bold jumbo-header">The Audition Cafe Marketplace</h2>
                    <p class="px-5 pb-4 jumbo-subtext">Buy or sell musical instruments and accessories. ZERO fees.</p>
                    <!--Blue select-->
                      <%= form_tag('/listings', :method=>:get) do %>
                       <%= select_tag :category_id, options_for_select(@categories), class: 'mdb-select colorful-select dropdown-primary side', prompt: "Select Instrument" %>
                       <%= submit_tag 'Search', class: 'btn btn-md btn-primary' %>
                      <% end %>

                    <div>
                      <p class="sell-button"> Looking to sell? <%= link_to "Click here", new_listing_path %></p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>