<%= render partial: 'masthead' %>

<div class="latest-listings">
  <h1>Latest Listings</h1>
  <hr>
</div>



<div class="container">
  <div class="row">

    <%= render partial: 'listing', collection: @listings %> 

  </div>

</div>